aws_region        = "eu-north-1"
availability_zone = "eu-north-1a"
instance_type     = "t3.micro"
project_name      = "iii-quickstart"

ssh_key_name = "quickstart-key"
my_ip_cidr   = "0.0.0.0/0"

repo_url = "https://github.com/aaryan359/quickstart.git"
repo_ref = "main"
